
root = true

[*]
# 编码
charset = utf-8
# 设置缩进风格(tab是硬缩进，space为软缩进)
indent_style = space
# 设置换行符，值为lf、cr和crlf
end_of_line = lf
# 去除换行行首的任意空白字符
trim_trailing_whitespace = true
# 文件以一个空白行结尾
insert_final_newline = true

[*.md]
trim_trailing_whitespace = false

[*.{tsx,ts,js,jsx,vue,css,scss}]
indent_size = 2
